.contact{
	width: 100%;
	height:50px;
	background-color: #a8c6f4;
	font-family: 'Fjalla One', sans-serif;
	padding-left: 640px;
	padding-top: 25px;
    font-size: 27px;
    text-align: center;
}
.input{
	background-color: #e5e5e5;
}
.form{
	padding-right: 30px;
	float: left;
}
.maps{
	padding-left: 20px;
	float: right;
}




footer{
color: white;bottom: 0;
}